<template>
    <v-footer class="footer" padless>
        <v-col
            class="text-center"
            cols="12"
        >
            Made with <strong>love</strong> by <strong>Lucas VANTOMME</strong>
        </v-col>
    </v-footer>
</template>

<script>
export default {
    data () {
        return {}
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

