<template>
  <div class="home">
    <vue-particles class="background" color="#000"></vue-particles>
    <div class="title">
      <h1>{{ title }}</h1>
      <vue-typed-js :strings="subtitles" :backSpeed="30">
        <h2 class="typing"></h2>
      </vue-typed-js>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Lucas VANTOMME',
      subtitles: ['22y Student', 'Front-end Developer']
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
}
.title {
  z-index: 10000;
}
</style>

