<template>
    <div class="informations">
        <v-container>
            <h1>About</h1>
            <v-row>
                <v-col cols="12" md="4">
                    <v-card>
                        <v-img
                            src="../assets/avatar.png"
                        ></v-img>
                    </v-card>
                </v-col>

                <v-col cols="12" md="8">
                    <v-card>
                        Liste des informations
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.informations {
    background-color: #f8f8fc;
}
</style>

