<template>
    <v-container class="skills">
        <h1>Skills</h1>
        <v-row>
            <v-col>
                <h3>HTML</h3>
                <v-progress-circular :size="48" :width="6" :value="95"></v-progress-circular>
            </v-col>
            <v-col>
                <h3>CSS</h3>
                <v-progress-circular :size="48" :width="6" :value="80"></v-progress-circular>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

