<template>
  <v-app>
    <v-main>
      <Home/>
      <Informations/>
      <Skills/>
      <Footer/>
    </v-main>
  </v-app>
</template>

<script>
import Home from './components/Home';
import Informations from './components/Informations';
import Skills from './components/Skills';
import Footer from './components/Footer';

export default {
  name: 'App',

  components: {
    Home,
    Informations,
    Skills,
    Footer
  },

  data: () => ({
    //
  }),
};
</script>

<style scoped>
</style>
